body {
  font-family: arial, helvetica, verdana;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}
h1, h2, h3, h4 {
  color: #777;
}
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
.material-symbols-outlined {
  text-decoration: none;
  text-align: center;
}
section {
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  min-height: calc(100vh - 70px);
}
section h1, h2 {
  text-align: center;
}
section ul {
  list-style: none;
  padding: 0;
  text-align: center;
}
article span {
  float: right;
}
img {
  vertical-align: middle;
  margin: 0 1em;
}
footer {
  text-align: center;
  flex: 1;
  padding: 1em;
  height: 70px;
  box-sizing: border-box;
  background:#FF8700;
  color: #FFF;
}
.overlay {
  width: 100%;
  background-color: #fff;
  position: fixed;
  min-height: 100vh;
  top:0;
}
.overlay img {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  animation: spin 1s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}